h1 {
    font-family:Shizuru, cursive;
    color:white;
}

p {
    font-family:Shizuru, cursive;
    color:white;
}
div {
    display:grid;
    width:100%;
    grid-template-columns: repeat(5,auto);
}
.frame {
    margin:50px;
}
.square {
    width: 100px;
    height: 100px;
}
.circle {
    width: 114px;
    height: 114px;
}


/* Screen size below 1150px */
@media screen and (max-width: 1150px) {
    div {
        grid-template-columns: repeat(4,auto);
    }

}
/* Screen size below 900px */

@media screen and (max-width: 900px) {
    div {
        grid-template-columns: repeat(3,auto);
    }
}

/* Screen size below 700px */

@media screen and (max-width: 700px) {
    div {
        grid-template-columns: repeat(3,auto);
    }
    .square {
        width: 70px;
        height: 70px;
    }
    .circle {
        width: 75px;
        height: 75px;
    }
}

/* Screen size below 450px */

@media screen and (max-width: 600px) {
    div {
        grid-template-columns: repeat(2,auto);
    }
}

@media screen and (max-width: 450px) {
    div {
        grid-template-columns: repeat(1,auto);
    }
}
